@font-face {
  font-family: 'GAME_glm';
  src: url(game/GAME_glm.ttf);
}

:root {
  --cor1: #FF5400;
  --cor2: #FFBD00;
  --cor3: #9E0059;
  --cor4: #390099;
  --cor5: #FF0054;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body {

  display: flex;

  flex-direction: column;

  justify-content: center;

  background-color: var(--cor1);

}

#start {

  display: flex;

  align-items: center;

  align-content: flex-end;

  justify-content: center;

  margin: auto;

  margin-bottom: 0%;

  width: 40%;

}

#start button {

  position: relative;

  display: inline-block;

  padding: 10px 20px;

  margin-top: 250px;

  border-radius: 30px;

  width: 200px;

  height: 50px;

  background-color: var(--cor4);

  border: 2px solid var(--cor2);

  border-radius: 30px;

  color: var(--cor2);

  font-size: 16px;

  letter-spacing: 4px
}

#start button > a {

  text-decoration: none;

  font-family: 'GAME_glm';

  font-size: 18px;

  color: var(--cor2);

}

#add {

  display: flex;

  align-items: center;

  align-content: flex-end;

  justify-content: center;

  margin: auto;

  margin-top: 0%;

  margin-bottom: 0%;

  width: 50%;

}

#add button {

  position: relative;

  display: inline-block;

  padding: 10px 20px;

  margin-top: 40px;

  background-color: var(--cor4);

  border: 2px solid var(--cor2);

  border-radius: 30px;

  font-family: 'GAME_glm';

  color: var(--cor2);

  font-size: 16px;

  letter-spacing: 4px

}

#add button > a {

  text-decoration: none;

  color: var(--cor2);

  font-family: 'GAME_glm';

}

div#game-page {

  margin-left: 30%;

  height: auto;
  
}

div#canvas{

  margin: auto;

  margin-top: 20px;

  margin-bottom: 40px;

}

canvas {

  background-color: white;

  width: 100%;

  height: 400px;

}


#newGame {
 
  width: 30%;

  height: 40px;

  border-radius: 20px;

  background-color: var(--cor4);

  color: var(--cor2);

  font-family: 'GAME_glm';

  outline: transparent;

  border: 1px solid var(--cor3);

}

#giveUp {


  width: 30%;

  height: 40px;

  border-radius: 20px;

  background-color: var(--cor4);

  color: var(--cor2);

  font-family: 'GAME_glm';

  outline: transparent;

  border: 1px solid var(--cor3);

}

#giveUp a {

  text-decoration: none;

  color: var(--cor2);

  font-family: 'GAME_glm';
}


textarea {

  display: block;

  margin-top: 50px;

  margin-right: auto;

  margin-left: auto;

  width: 50%;

  height: 300px;

  resize: none;

  background-color: white;

  border: 3px solid var(--cor5);

  border-radius: 10px;

  outline: transparent;

  padding: 30px;

}

textarea::placeholder {

  color: var(--cor5);

  font-family: 'GAME_glm';

}     

div#buttons-add-page {

  margin-top: 20px;

  margin-left: 33%;
  
}

#add-btn {

  width: 50%;

  height: 40px;

  border-radius: 20px;

  background-color: var(--cor4);

  color: var(--cor2);

  font-size: 18px;

  font-family: 'GAME_glm';

  border: 2px solid var(--cor3);

}

.btn {

  width: 50%;

  height: 40px;

  border-radius: 20px;

  background-color: var(--cor4);

  color: var(--cor2);

  font-size: 18px;

  font-family: 'GAME_glm';

  border: 2px solid var(--cor3);

}

.btn a {

  text-decoration: none;

  font-size: 18px;

  font-family: 'GAME_glm';

  color: var(--cor2);
}

footer {


  position: absolute;

  bottom: 0px;

  background-color: var(--cor4);

  color: var(--cor2);

  font-family: 'GAME_glm';

  width: 98.5%;

  height: 30px;

  padding: 10px;

  text-align: center;

  font-size: 15px;

  font-weight: bolder;

  letter-spacing: 2px;


}

footer a {

  text-decoration: none;

  color: var(--cor2);

  font-family: 'GAME_glm';

  font-weight: bolder;
}

footer a:hover {

  color: var(--cor5);

  font-family: 'GAME_glm';

  font-weight: bolder;

  font-size: 14px;

}

