:root {
    --cor1: --#B7F0AD;
    --cor2: --#D2FF96;
    --cor3: --#EDFF7A;
    --cor4: --#E8D33F;
    --cor5: --#D17B0F;
}



body {
    background-color: var(--cor1);
    height: 100%;
    width: 100%;
}

#start {
    width: 50px;
    height: 40px;
    border: ;

}

footer {
    background-color: var(--cor5);
    color: var(--cor2);
    font-weight: bold;
}